@page "/Accounts"
@inject IAccountservice Accountservice;


<h3>Accounts</h3>


@if (_accounts.Count == 0)
{
	<p>There are no accounts registered, please create your first account at the "Create Account"-page</p>
}
else
{
	<ul>
		@foreach (var account in _accounts)
		{
			<li>
				<strong>@account.Name</strong> - @account.AccountType - @account.Balance - @account.Currency
				<small>(Updated @account.LastUpdated.ToLocalTime())</small>
			</li>
		}
	</ul>
}
@code {

	
	private List<Bankaccount> _accounts = new();
	protected override async Task OnInitializedAsync()
	{
		_accounts = await Accountservice.GetAccounts();
	}

	private async Task GetAccountAsync()
	{
		try
		{			
			_accounts = await Accountservice.GetAccounts();			
		}
		catch (Exception exception)
		{
			Console.WriteLine("You are missing an input");
			throw;
		}
		
	}

}
