@page "/CreateAccount"
@using System.ComponentModel.DataAnnotations
@inject IAccountservice Accountservice;

<h3>Please create an account</h3>

<EditForm Model="_model" OnValidSubmit="CreateAccountAsync">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="form-row">
		<label>Account name</label>
		<InputText @bind-Value="_model.Name"></InputText>
	</div>
	<div class="form-row">
		<label>Account type</label>
		<InputSelect @bind-Value="_model.AccountType">
			<option value="">Choose account type</option>
			<option value="@AccountType.Deposit">Debit</option>
			<option value="@AccountType.Savings">Savings</option>
		</InputSelect>
	</div>

	<div class="form-row">
		<label>Currency</label>
		<InputSelect @bind-Value="_model.Currency">
			<option value="@CurrencyType.SEK">SEK</option>
			<option value="@CurrencyType.EUR">EUR</option>
			<option value="@CurrencyType.DOLLAR">DOLLAR</option>
		</InputSelect>		
	</div>
	<div class="form-row">
		<label>Starting balance</label>
		<InputNumber @bind-Value="_model.InitialBalance"></InputNumber>		
	</div>
	<button type="submit" class="btn-submit">Create account</button>
</EditForm>

<h4>All Accounts</h4>
@if (_accounts.Count == 0)
{
	<p>There are no accounts registered, please create your first account above!</p>
}
else
{
	<ul>
		@foreach (var account in _accounts)
		{
			<li>
				<strong>@account.Name</strong> - @account.AccountType - @account.Balance - @account.Currency
				<small>(uppdaterad @account.LastUpdated.ToLocalTime())</small>
			</li>
		}
	</ul>
}	

@code {

	private readonly CreatAccountModel _model = new();
	private List<Bankaccount> _accounts = new();

	protected override async Task OnInitializedAsync()
	{
		_accounts = await Accountservice.GetAccounts();
	}


	private async Task CreateAccountAsync()
	{
		try
		{			
			await Accountservice.CreatAccount(_model.Name, _model.AccountType, _model.Currency, _model.InitialBalance);				
			_accounts = await Accountservice.GetAccounts();
			_model.Clear();
			StateHasChanged();
		}
		catch (Exception exception)
		{
			Console.WriteLine("You are missing an input");
			throw;
		}

	}

	private class CreatAccountModel
	{
		[Required(ErrorMessage = "Please add an account name")]
		public string? Name { get; set; }
		public AccountType AccountType { get; set;}
		public CurrencyType Currency { get; set; }	
		public decimal InitialBalance { get; set; } = 0;


		public void Clear()
		{
			Name = string.Empty;
			AccountType = AccountType.Savings;
			Currency = default;
			InitialBalance = 0;
		}
	}

}
